.sidebar-custom {
    height: 100vh;
    color: white;
    background-color: #f3344a !important;  /* Bank of America red color */
}

/* background-color: #E0001B !important;  Bank of America red color */

